/* Global things */
:root {
  --bluecolor: #aae6ff;
  --greencolor: #aaffaa;
  --bluehover: #d6f1fd;
  --greenhover: #d8ffd8;
}

body {
  font-family: 'Helvetica', 'Segoe UI', sans-serif;
}

.bluebutton, .greenbutton {
  display: inline;
  width: fit-content;
  height: fit-content;
}

.bluebutton a, button.greenbutton, .greenbutton a {
  text-decoration: none;
  color: black;
  padding: 1em;
  border-radius: 1.5em;
  font-size: 16px;
}

.bluebutton a {
  background-color: var(--bluecolor);
}

.bluebutton a:hover {
  background-color: var(--bluehover);
}

.greenbutton a, button.greenbutton {
  background-color: var(--greencolor);
  border: none;
}

.greenbutton a:hover, button.greenbutton:hover {
  background-color: var(--greenhover);
}

/* Main page */
aside.mainpage {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
}

article.mainpage {
  text-align: center;
}

.search {
  width: 50%;
  margin: auto;
}

.mainpage form {
  display: flex;
  flex-direction: column;
}

/* Table listing page */
#filters {
  display: grid;
  width: 500px;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 1fr 1fr;
}

#setname {
  grid-row: 1;
  grid-column: 1/3;
}

#sortby {
  grid-row: 2;
  grid-column: 1;
}

#sortorder {
  grid-row: 2;
  grid-column: 2;
}

#searchwords {
  grid-row: 1/3;
  grid-column: 3;
}

#searchwords textarea {
  width: 90%;
}

#listpage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Create page */
#createpage article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#createform {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 3fr;
}

#createform label {
  text-align: right;
}

#createform label, #createform textarea, #createform input {
  padding: 5px;
  margin: 5px;
}